{% extends 'layout_crud.html.twig' %}

{% block title %}Forecast{% endblock %}

{% block content %}
    <h1>Forecast</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forecast.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ forecast.date ? forecast.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TemperatureCelsius</th>
                <td>{{ forecast.temperatureCelsius }}</td>
            </tr>
            <tr>
                <th>FlTemperatureCelsius</th>
                <td>{{ forecast.flTemperatureCelsius }}</td>
            </tr>
            <tr>
                <th>Pressure</th>
                <td>{{ forecast.pressure }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ forecast.humidity }}</td>
            </tr>
            <tr>
                <th>WindSpeed</th>
                <td>{{ forecast.windSpeed }}</td>
            </tr>
            <tr>
                <th>WindDeg</th>
                <td>{{ forecast.windDeg }}</td>
            </tr>
            <tr>
                <th>Cloudiness</th>
                <td>{{ forecast.cloudiness }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ forecast.icon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forecast_index') }}">back to list</a>

    <a href="{{ path('app_forecast_edit', {'id': forecast.id}) }}">edit</a>

    {{ include('forecast/_delete_form.html.twig') }}
{% endblock %}
